{% extends "layout.html" %}

{% block title %}
    Courses
{% endblock %}

{% block body %}
    <h1>All Courses</h1>

    <ul>
        {% for course in courses %}
            <li>
                {{ course.course_id }} - {{ course.name }}
                <form action="{{ url_for('remove_course') }}" method="post">
                    <input type="hidden" value="{{ course.course_id }}" name="course_id">
                    <input class="btn btn-danger" type="submit" value="remove">
                </form>
            </li>
        {% endfor %}
    </ul>
    <h2>Add a new course</h2>
    <form action="{{ url_for('add_course') }}" method="post">
        <div class="form-group">
            <input class="form-control" name="course_id", placeholder="Course ID (e.g. MOEC200)">
        </div>

        <div class="form-group">
            <input class="form-control" name="name" placeholder="Name">
        </div>

        <div class="form-group">
            <input class="form-control" name="semester" placeholder="Semester (e.g. FS)">
        </div>

        <div class="form-group">
            <input class="form-control" name="category" placeholder="Category (e.g. INF5)">
        </div>

        <div class="form-group">
                <input class="form-control" name="credits" placeholder="Credits">
            </div>

        <div class="form-group">
            <button class="btn btn-primary">Add a course</button>
        </div>
    </form>

{% endblock %}
